<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trex Automation Suite">
<listeners>
<listener class-name="com.Automation.Utils.TestListeners"></listener>
</listeners>
  <test  name="Test">
    <classes>      

      <class name="com.Automation.TestCases.ValidateUserListAPI"/>
      <class name="com.Automation.TestCases.ValidateUserLoginDeck"/>
      <class name="com.Automation.TestCases.ValidateAdminPanelUserDelete"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
